html
    head
        link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Web arimo
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                ul.navbar-nav
                    li.a.nav-item
                        a.nav-link.active(href='/') Home
                    li.a.nav-item
                        a.nav-link(href='/users') Users
                    li.a.nav-item
                        a.nav-link(href='/Products') Products
                    li.a.nav-item
                        a.nav-link(href='/auth/login') Login

            if user
                p= user.name
        .container.pt-5
            block content